{% extends 'employee_register/base1.html' %}

{% block content %}
<section class="forms"> 
            <div class="container-fluid">
              <div class="row">
                <!-- Basic Form-->
                <div class="col-lg-10">
                  <div class="card">
                    <div class="card-close">
                      
                    </div>

                    <div class="text-primary">
                    <div class="card-header d-flex align-items-center">
                      <div class="display-4">
                     <h3 class="h1">Easly assign a technician here</h1>
                    </div>
                  </div>
                </div>
                    <div class="card-body">
                     
                      <form action="" method="">

                        <div class="form-group">
                         <label for="exampleFormControlTextarea1">Enter the Task </label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" name="text" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                        <div class="col-6">    
                          <input type="submit" value="Assign" class="btn btn-primary">
                        </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

{% endblock content %}
