{% extends "employee_register/1base.html" %}

{% load static %}


{% block content %}


  <div class="page login-page">
      <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
          <div class="row">

            <div class="col-lg-6 bg-white">
              <div class="form d-flex align-items-center">
                <div class="content">
                  <h3>Password Reset</h3>

						<p>Forgotten your password? Enter your email address below, and we'll email instruction for setting a new one</p>



						<form method="post">
							{% csrf_token %}
						  
							{{form}}
						

							<div class="form-group">
                      <input type="Submit" value="Send email" class="btn btn-primary">
                   </div>
						</form>
				
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
</div>




 {% endblock content%}