{% extends "employee_register/1base.html" %}

{% load static %}


{% block content %}

<div class="page login-page">
      <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
          <div class="row">



            <div class="col-lg-8 bg-white ">
              <div class="form d-flex align-items-center">

              	 <div class="content">


<h3>Enter new password</h3>

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>


<form method="post">



	{% csrf_token %}

	{{ form }}

	<input type="Submit" value="Update password " class="btn btn-primary">	
</form>


            </div>
         </div>
       </div>
     </div> 
    </div>
  </div>
</div>

{% endblock content%}